<div class="row justify-content-center">
  <form [formGroup]="formGroup" class="col-6 mt-4 mb-4" (ngSubmit)="onCreateUser()">
    <app-form-field [label]="'Username'" [invalidFeedbackMessage]="'This field is required'">
      <input type="text" class="form-control" [ngClass]="{ 'is-invalid': username.touched && !username.valid }"
        id="username" formControlName="username" placeholder="Enter your username" />
    </app-form-field>
    <app-form-field [label]="'Password'" [invalidFeedbackMessage]="'This field is required'">
      <input type="password" class="form-control" id="password"
        [ngClass]="{ 'is-invalid': password.touched && !password.valid }" formControlName="password"
        placeholder="Your password" />
    </app-form-field>
    <app-form-field [label]="'Email Address'" [invalidFeedbackMessage]="'This field is required'">
      <input type="email" class="form-control" id="email" [ngClass]="{ 'is-invalid': email.touched && !email.valid }"
        formControlName="email" placeholder="Your email address" />
    </app-form-field>
    <app-form-field [label]="'Your favourite movie'"
      [invalidFeedbackMessage]="'Oops! Only Terminator fans are allowed on this site. Go away!'">
      <textarea class="form-control" id="favouriteMovie" [ngClass]="{
        'is-invalid': favouriteMovie.touched && !favouriteMovie.valid
      }" formControlName="favouriteMovie"
        placeholder="Tell us what is your favourite movie. Just be honest about it, we won't judge you :-)"></textarea>
    </app-form-field>
    <button type="submit" class="btn btn-primary float-right pl-5 pr-5">
      Create User
    </button>
  </form>
</div>
